html {
    background-color: #2c3e50;
}

#header, #gameContainer {
    width: 90dvw;
    max-width: 500px;
}

#header, .cell, #xSymbol, #oSymbol {
    font-family: 'Copperplate Gothic';
}

#header {
    background-color: aliceblue;
    margin: auto;
    margin-top: 5dvh;
    margin-bottom: -1.5dvh;
    height: 5dvh;
    border-radius: 5px;
    text-align: center;
    transition-duration: 1s;
    font-size: 3dvh;
}

#headerText {
    margin: auto;
}

#gameContainer {
    background-color: #2d3436;
    margin: auto;
    transition-duration: 1s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#tictactoe {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 80vw; 
    max-width: 300px; 
    padding-top: 5vw;
}

/* #xSymbolContainer, #oSymbolContainer {
    position: absolute;
    top: 28%;
    font-weight: bold;
    font-size: 10dvh;
}

#xSymbolContainer {
    left: -20%;
}

#oSymbolContainer {
    right: -20%;
}

#xSymbol, #oSymbol {
    color: #2c3e50;
    transition-duration: 0.5s;
} */

#lines {
    position: absolute;
    /* top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px; */
    z-index: -1; /* Ensures it stays behind the other content */
    background-color: white;
}

#tictactoe > *, .cell {
    margin: 5px;
    color: black;
    border-radius: 5px;
}

.cell {
    background-color: #58b19f;
    height: 10dvh;
    width: 10dvh;
    max-height: 100px;
    max-width: 100px;
    border-radius: 0px;
    transition-duration: 0.4s;
    border: 10px;
    font-size: 40px;
}

.cell:hover {
    background-color: #76D9C5;
}

.resetContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100px;
}

#resetButton {
    position: relative;
    margin: auto;
    width: 150px;
    height: 50px;
    background-color:  #58b19f;
    border: 1dvh;
    transition-duration: 1s;
    font-family: 'Lucida Bright';
    border-radius: 5px;
}

#resetButton:hover {
    background-color:  #76D9C5;
}

button:active {
    top: 2px; 
    transition-duration: 0s;
}

#status {
    position: absolute;
    top: 2%;
    /* left: 30%; */
    font-weight: bold;
    font-size: 5dvh;
    color: aliceblue;
}

#cell1 > * {
    border-top-left-radius: 5px;
}

#cell3 > * {
    border-top-right-radius: 5px;
}

#cell7 > * {
    border-bottom-left-radius: 5px;
}

#cell9 > * {
    border-bottom-right-radius: 5px;
}