:root {
  --primary-color: #415a77;
  --hover-color: #535bf2;
  --background-dark: #242424;
  --background-light: #ffffff;
  --text-dark: #213547;
  --text-light: rgba(255, 255, 255, 0.87);
  --link-color: #2980b9;

  /* Text size variables */
  --font-size-large: 1.476rem; 
  --font-size-medium: 1.138rem;
  --font-size-small: 1rem;
  --font-size-smaller: 0.878rem;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-light);
  background-color: var(--background-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  padding: 20px;
}

@media (max-width: 700px) {
  main {
    grid-template-columns: 1fr; /* Switch to a single column */
  }
}

a {
  color: var(--link-color);
}

section {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  background-color: var(--primary-color);
}

#input-block {
  height: fit-content;
}

.accordion-item-padding .pb-4 {
  padding-left: 2rem;
}

section input, section textarea {
  background-color: var(--text-light);
  border: 2px solid var(--background-dark);
  padding: 0.5em;
  color: var(--text-dark);
  font-family: inherit;
  font-size: var(--font-size-small);
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s, background-color 0.3s;
}

#preview .header {
  margin-top: 1rem;
}

section input:focus, section textarea:focus {
  border-color: var(--primary-color);
  background-color: var(--background-light);
}

#preview {
  background-color: var(--background-light);
  color: var(--text-dark);
  height: 900px;
  width: 636px;
}

h1 {
  font-size: var(--font-size-large);
  line-height: 1.1;
  margin: 0.5rem 0 0.5rem 0;
  text-align: center;
}

h2 {
  font-size: var(--font-size-medium);
  margin-bottom: 10px;
  color: var(--text-light);
  border-bottom: 2px solid #2980b9;
  padding-bottom: 5px;
}

/* Accordion animation for contents */
#radix-\3Ar3\3A { overflow: hidden; } #radix-\3Ar3\3A[data-state='open'] { animation: slideDown 300ms ease-out; } #radix-\3Ar3\3A[data-state='closed'] { animation: slideUp 300ms ease-out; }
#radix-\3Ar7\3A { overflow: hidden; } #radix-\3Ar7\3A[data-state='open'] { animation: slideDown 300ms ease-out; } #radix-\3Ar7\3A[data-state='closed'] { animation: slideUp 300ms ease-out; }
#radix-\3Arb\3A { overflow: hidden; } #radix-\3Arb\3A[data-state='open'] { animation: slideDown 300ms ease-out; } #radix-\3Arb\3A[data-state='closed'] { animation: slideUp 300ms ease-out; }
#radix-\3Arf\3A { overflow: hidden; } #radix-\3Arf\3A[data-state='open'] { animation: slideDown 300ms ease-out; } #radix-\3Arf\3A[data-state='closed'] { animation: slideUp 300ms ease-out; }

/* Flips the SVG chevron when accordion is opened and closed */
#radix-\3Ar1\3A[data-state='open'] .lucide-chevron-down,
#radix-\3Ar5\3A[data-state='open'] .lucide-chevron-down,
#radix-\3Ar9\3A[data-state='open'] .lucide-chevron-down,
#radix-\3Ard\3A[data-state='open'] .lucide-chevron-down { 
  animation: flip 0.1s ease-out forwards;
}

#radix-\3Ar1\3A[data-state='closed'] .lucide-chevron-down,
#radix-\3Ar5\3A[data-state='closed'] .lucide-chevron-down,
#radix-\3Ar9\3A[data-state='closed'] .lucide-chevron-down,
#radix-\3Ard\3A[data-state='closed'] .lucide-chevron-down { 
  animation: flip-to-normal 0.1s ease-out forwards;
}

@keyframes flip {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes flip-to-normal {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideDown {
  from {
      max-height: 0;
      opacity: 0;
  }
  to {
      max-height: 50rem; 
      opacity: 1;
  }
}

@keyframes slideUp {
  from {
      max-height: 50rem;
      opacity: 1;
  }
  to {
      max-height: 0;
      opacity: 0;
  }
}

#preview * {
  margin: 0rem 2rem 0rem 2rem;
}

#preview h2 {
  color: var(--text-dark);
  margin-right: 20rem;
}

#preview .cvname {
  font-size: var(--font-size-large);
  border-bottom: none;
  margin-top: 2rem;
  text-align: left;
}

#preview .email {
  border-bottom: 2px solid #2980b9;
  color: var(--link-color);
  margin-top: 0rem;
}

.cvname {
  font-size: var(--font-size-large);
  color: #2c3e50;
  margin-bottom: 5px;
  align-items: center;
}

.schoolname, .companyname {
  font-size: var(--font-size-medium);
  margin-bottom: 5px;
  float: left;
  font-weight: 550;
}

.titleofstudy, .positiontitle {
  font-size: var(--font-size-small);
  font-style: italic;
  margin-bottom: 5px;
  float: right;
}

.dateofstudy, .employmentdates {
  font-size: var(--font-size-smaller);
  font-style: italic;
  text-align: right;
  color: #7f8c8d;
  margin-bottom: 15px;
}

.mainresponsibilities {
  font-size: var(--font-size-small);
  line-height: 1.5;
  margin-bottom: 20px;
}

.shadow {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

button {
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  padding: 0.6em 1.4em;
  font-size: var(--font-size-small);
  background-color: var(--background-dark);
  color: var(--text-light);
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: var(--text-dark);
  color: var(--background-light);
}

button:focus,
button:focus-visible {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

#downloadButton {
  margin: auto;
  display: grid;
}
